@font-face {
    font-family: 'Lalezar';
    src: url('./assets/fonts/Lalezar.ttf');
}
@font-face {
    font-family: 'Yekan';
    src: url('./assets/fonts/Yekan.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yekan' , sans-serif;
}